.button-container{
  background: red;
  border-radius: 5px;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;
}
.button-container:hover{
  background: rgb(182, 0, 0);
}
.button-container:active{
  background: rgb(138, 13, 13);
}

/* .Button{
  border: solid;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: #ffffff;
  word-break: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Button:hover{
  background: #abc6ff;
  transition-duration: 200ms;
} */